.container{
    display: grid;
    grid-template-areas:
    'header header header header'
    'header header header header'
    'body body body body body'
    'body body body body body'
    'footer footer footer footer'
    'footer footer footer footer';
}
.gallery{
    display: grid;
    grid-template-areas:
    'a . b . c . d . e'
    'f . g . h . i . j'
    'k . l . m . n . o'
    'p . q . r . s . t';
    gap:5% 0px;
}