.container {
  display: grid;
  grid-template-areas:
    '. . . .'
    '. . . .'
    '. header header .'
    'body body body body'
    'body body body body'
    'body body body body'
    'body body body body'
    'body body body body'
    'body body body body'
    'body body body body'
    'body body body body'
    'body body body body'
    'body body body body'
    'body body body body'
    'body body body body'
    'footer footer footer footer'
    'footer footer footer footer';
  justify-content: stretch;
  align-content: stretch;
  text-align: center;
}
.gallery {
  display: grid;
  justify-content: stretch;
  align-content: stretch;
  grid-template-areas:
    'a . b . c . d . e'
    'f . g . h . i . j'
    'k . l . m . n . o'
    'p . q . r . s . t';
  gap: 5%;
}
