body {
  background-color: #b070ff;
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  background-image: url('./Images/background.png');
}
label {
  font-size: larger;
  font-variant: small-caps;
}
button {
  margin: 0 auto;
  background-color: #8e4ce0;
  border-width: 4px;
  width: min-content;
  border-style: solid;
  border-color: #afaeff;
  font-family: serif;
  font-size: x-large;
}
a {
  margin-left: 6.25%;
  margin-right: 6.25%;
  color: greenyellow;
  font-size: larger;
  text-decoration: none;
  font-family: serif;
  font-size: x-large;
}
a:hover {
  color: #e0de4c;
}
header {
  border-style: solid;
  border-color: #e0de4c;
  border-width: 4px;
  background-color: #8e4ce0;
  font-family: papyrus;
  top: 0%;
  position: absolute;
  width: 50%;
  margin: 0 auto 5% auto;
}
footer {
  border-style: solid;
  border-color: #e0de4c;
  border-width: 4px;
  background-color: #8e4ce0;
  margin-top: auto;
}
p {
  background-color: #8e4ce0;
  border-style: solid;
  border-width: 3px;
  border-color: #e0de4c;
  font-family: serif;
  font-size: x-large;
  background-image: none;
}
li {
  font-family: serif;
  font-size: x-large;
}
div {
  font-family: papyrus;
  color: #e0de4c;
}
.container {
  position: absolute;
  height: 100%;
  width: 100%;
  max-width: 100%;
}
img {
  width: 100%;
  max-height: 100%;
  border-width: 3px;
  border-color: #e0de4c;
  justify-self: stretch;
  align-self: stretch;
  border-style: solid;
  object-fit: scale-down;
}
form {
  background-color: #bf9fb5;
  margin: 4% auto -4% auto;
  width: 50%;
  font-family: serif;
  font-size: x-large;
}
