body {
  background-color: honeydew;
}
button {
  background-color: #d0b0ff;
  border-width: 4px;
  border-style: solid;
  border-color: #afaeff;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
a {
  color: black;
  text-decoration: none;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
a:hover {
  color: darkgoldenrod;
}
header {
  border-style: solid;
  border-color: goldenrod;
  border-width: 4px;
  background-color: #9f9af0;
}
footer {
  border-style: solid;
  border-color: goldenrod;
  border-width: 4px;
  background-color: #9f9af0;
}
p {
  background-color: #9f9af0;
  border-style: solid;
  border-width: 2px;
  border-color: honeydew;
}
